#main{
	margin-top: 5%;
	width: 20%;
	margin: auto;
	font-family: cursive;
}
#play-game{
  width: 30%;
  padding: 1.5%;
}
.margin-above{
	margin-top: 10%;
}
#game-status{
	font-size: 1.2vw;
	float: left;
}
#reset-game{
	float: right;
  padding: 1%;
  width: 30%;
}
#game-title{
	font-size: 4.0vw;
	text-align: center;
}
.selector{
	font-size: 1.2vw;
	margin-top: 10%;
}
.selector select{
	width: 30%;
	padding: 1%;
}
#player-names{
	margin-top: 10%;
	font-size: 1.2vw;
}
#player-names input{
  text-align: center;
  padding: 1%;
}
table{
	width: 100%;
	border-collapse: collapse;
}
td{
	width: 33.33%;
	border: 6px solid #222;
	position: relative;
	cursor: pointer;
}
td div{
	position: absolute;
	left: 40%;
	top: 25%;
	font-size: 2.1vw;
	pointer: cursor;
}
td::after{
	display: block;
	margin-top: 100%;
	content: ' ';
}
td:first-of-type{
	border-left-color: transparent;
	border-top-color: transparent;
}
td:nth-of-type(2){
	border-top-color: transparent;
}

td:nth-of-type(3){
	border-top-color: transparent;
	border-right-color: transparent;
}
tr:nth-of-type(3) td{
	border-bottom-color: transparent;
}
#game-notification{
  font-size: 1.6vw;
  text-align: center;
  color: green;
}
